button {
    border: 1px solid var(--control-border-color);
    border-radius: var(--control-border-radius);
    padding: var(--control-padding);
    background-color: var(--control-border-color);
    color: var(--control-color);

    &:focus {
        outline: 0;
        box-shadow: var(--control-focus-box-shadow);
    }
}