h1,
h2,
h3,
h4,
h5,
h6 {
    margin-bottom: var(--headings-margin-bottom);
    font-family: var(--headings-font-family);
    font-weight: var(--headings-font-weight);
    line-height: var(--headings-line-height);
    color: var(--headings-color);
}