/* Can be added to a header element (like `h1`) and can mark a new section of an article. */
.page-header {
    margin: 2rem 0 1rem;
    padding-bottom: .5rem;
    border-bottom: 1px solid var(--control-border-color-lighter);
}


/*
Uisum has similar spacing utilities as you might know from bootstrap.
But we use another pattern. It is based on simple math calculation. Some examples:

.m-1   = var(--spacer) * 1
.m-1-2 = var(--spacer) * 1/2
.m-1-4 = var(--spacer) * 1/4
.m-2 = var(--spacer) * 2
*/
$spacers: (
    "0": 0,
    "1-4": calc(var(--spacer) * .25),// 1/4
    "1-2": calc(var(--spacer) * .5),// 1/2
    "1": calc(var(--spacer)),
    "2": calc(var(--spacer) * 2)
);

@each $prop, $abbrev in (margin: m, padding: p) {
    @each $size, $length in $spacers {
        .#{$abbrev}-#{$size} {
            #{$prop}: $length;
        }

        .#{$abbrev}t-#{$size},
        .#{$abbrev}y-#{$size} {
            #{$prop}-top: $length;
        }

        .#{$abbrev}r-#{$size},
        .#{$abbrev}x-#{$size} {
            #{$prop}-right: $length;
        }

        .#{$abbrev}b-#{$size},
        .#{$abbrev}y-#{$size} {
            #{$prop}-bottom: $length;
        }

        .#{$abbrev}l-#{$size},
        .#{$abbrev}x-#{$size} {
            #{$prop}-left: $length;
        }
    }
}