:root {
    --Header-height: calc(var(--touchy-size) * 3);
    --Header-padding: var(--spacer);
}

.App {
    height: 100%;
}

.App-title {
    height: 100%;
    text-align: center;
    font-size: 1.5rem;
}

.App-logo {
    height: calc(100% - 2rem);
}