.App-header {
    --Header-height: 125px;
    --Header-padding: var(--spacer);
}

.App-title {
    height: 100%;
    text-align: center;
    font-size: 1.5rem;
}

.App-logo {
    height: calc(100% - 2rem);
}