.Sidebar {
    background-color: var(--theme);
    width: var(--Sidebar-width);
    transition: width .2s;
    overflow: hidden;

    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
}

.Sidebar .MenuItem {
    height: var(--touchy-size);
    display: flex;
    align-items: center;
    border-radius: var(--Sidebar-MenuItem-border-radius);
}

.Sidebar .MenuItem:not(.active):focus {
    box-shadow: var(--control-focus-box-shadow) inset;
}