.ActionMenu {
    position: absolute;
    background-color: var(--ActionMenu-bg);
    border-radius: var(--control-border-radius);
}

.ActionMenu.right {
    right: var(--spacer);
}

.ActionMenu.right .ActionMenu-toggle {
    text-align: right;
}

.ActionMenu.in {
    background-color:  var(--ActionMenu-bg-in);
    box-shadow: .3rem 3rem 3rem rgba(0,0,0,.25);
}

.ActionMenu:not(.in) .MenuItem {
    display: none;
}

.ActionMenu:not(.in) .MenuItem.ActionMenu-toggle {
    display: inherit;
}

.ActionMenu-wrapper.in {
    position: fixed;
    top: 0; right: 0; bottom: 0; left: 0;
}

@media screen and (min-width: 992px) {
    .ActionMenu {
        display: flex;
    }

    .ActionMenu:not(.in) .MenuItem.ActionMenu-toggle {
        display: none;
    }

    .ActionMenu:not(.in) .MenuItem {
        display: inherit;
    }
}