.Router {
    position: relative;
    height: 100%;
}

.SidebarController .Router {
    padding-left: var(--Sidebar-width);
}

.Router-route {
    -webkit-overflow-scrolling: touch;
    overflow-x: hidden;
    overflow-y: auto;
    height: 100%;
}

.Router-route:not(.active) {
    display: none;
}